<h1>Burgers</h1>

<h2>Non-devoured burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=true}}

            {{!-- <li>{{burger_name}} - Devoured: {{devoured}}</li> --}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Devoured burgers</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devour=false}}

            {{!-- <li>{{burger_name}} - Devoured: {{devoured}}</li> --}}
        {{/if}}
    {{/each}}
</ul>

<h3>Add a burger</h3>
<form id="addburger">
    <div class="form-group">
        <label for="burgername">Burger name</label>
        <input type="text" id="burgernameinp" name="burgername">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label>
        <input type="radio" name="devoured" value="1" checked> Devoured
        <input type="radio" name="devoured" value="0"> Not devoured
    </div>

    <button type="submit">Add burger</button>
</form>

<script>

    $(function() {

        $(".change-devour").on("click", function(e){
            let id = $(this).data("id");
            let newDevour = $(this).data("newdevour");

            let newDevourState = {
                devoured: newDevour
            };

            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: newDevourState
            }).then(function(){
                console.log("Changed devour to " + newDevour);
                location.reload();
            })
        })

        $("#addburger").on("submit", function(e){
            e.preventDefault();

            let newBurger = {
                burgername: $("#burgernameinp").val(),
                devoured: $("[name = devoured]:checked").val()
            };
            console.log(newBurger)
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(function(){
                console.log("created new burger");
                location.reload();
            })
        })

    })
</script>