* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: orange;
}

#container {
    text-align: center;
}

#burger-container {
    display: flex;
    /* flex-direction: row; */
}

#burger-img {
    height: 150px;
    /* text-align: center; */
    justify-content: space-between;
}

h1 {
    color: red;
}

ul {
    width: 50%;
    list-style: none;
}